@media(max-width: 1199px){

}

@media(max-width: 991px){
	.single-item{height:15.625em;}
	.single-item h4{font-size:1.2em;}
	.single-item h1{font-size:2em;}
	.single-item p{font-size:1em;}
	.owl-dot{}
}

@media(max-width: 767px){

}

@media(max-width: 480px){

}