body{font-size:100% !important;}
.container {
	max-width: 1170px !important;
}
.header-body{
	background-color: #2c3e50;	
}
.dropdown-menu{
	z-index: 1021 !important;
}
#select-language button,.language-menu{
	background-color:#2c3e50 !important;
}
#select-language:hover .language-menu{
	-webkit-transform: translate3d(4px, -4.6px, 0px);
	        transform: translate3d(4px, -4.6px, 0px);
	display: block !important;
}
.language-menu a.dropdown-item{
	color: #fff !important
}
.language-menu a.dropdown-item:hover{
	color: #666 !important
}
.social a {
	font-size: 1.25em;
	padding: .2em 0.3125em;
	color: #fff;
}
.social a :hover{
	color: aqua;
}
.mycart{
	background-color: #21303f;
	font-size:0.8125em !important;
	margin-bottom:.5em;
}
#mycarthover:hover .mycart{
	background-color:aqua !important;
}
.mycart>img{
	margin: .2em 0.25em 0.375em 0em;
}
.mycart-dropdown-menu{
	padding: 1.6em;
	background-color: #2c3e50;
	width:28.125em;
	transform: translate3d(-13.6em, 1em, 0em) !important;
	-webkit-transform: translate3d(-13.6em, 1em, 0em) !important;
	-moz-transform: translate3d(-13.6em, 1em, 0em) !important;
}
#mycarthover:hover .mycart-dropdown-menu {
	display: block !important;
	top: 0 !important;
}

.product-thumbnail {
	padding-bottom: 0.625em;
}
.product-name{
	color: #fff;
	text-decoration:none;
}
.product-action{
	
}
.product-action .remove-item{
	
}
.actions{
	padding-top: 1.25em;
	border-top: 0.0625em solid #DDD;
	clear: both;	
}
.navbar-container nav.navbar{
	height: 90px;
}
.navbar-body{
	color:balck !important;
	background-color:white !important;
}
#navbarSupportedContent.navbar-collapse.collapse.show {
	z-index: 9999 !important;
}
.navbar-nav a{
	font-family: lato-black;
	font-size: 15px;
	color: #2c3e50;
	padding: 7px 18px;
	line-height: 19px;
}

.navbar-nav a:hover,.navbar-nav a.active{
	color:#fff !important;
	background: #2c3e50;
	cursor: pointer;
	border-radius:2px;
}
#navbarSupportedContent button.search-button{
	padding: 0;
	background:none;
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
#navbartoggler ul li a:hover{
	background: #eee;
}
.search{
	background: none;
}
.slider-body .owl-nav{
	position: absolute;
	top: 45%;
	font-size:1em;
	left:5%;
	right:5%;
	visibility:none;
	opacity:0;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.slider-body .owl-carousel .owl-nav button.owl-next:hover,.owl-carousel .owl-nav button.owl-prev:hover{
	background:#000;
	color:#fff;
	opacity:.5;
}
.slider-body .owl-carousel:hover .owl-nav{
	visibility:inherit;
	opacity:.7;
}
.slider-body .owl-carousel .owl-nav button.owl-next{
	float:right;
	height:2.5em;
	width:2.5em;
	background:#ddd;
}
.slider-body .owl-carousel .owl-nav button.owl-prev{
	float:left;
	height:2.5em;
	width:2.5em;
	background:#ddd;
}
.slider-body .owl-carousel a{
	text-decoration:none;
}

.slider-body .single-item{
	height:30em;
	padding:0em !important;
	position:relative !important;
}
.slider-body #sliderbg .single-item #man {
	position: absolute;
	width: 35%;
	top: -7%;
	left: 2%;
	z-index: 1;
}
.slider-body #sliderbg{
	background-image: url("images/sliderbg0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
	background-size:100% 100%;
	text-transform: uppercase;
}
.slider-body #sliderbg .single-item img {
	position: absolute;
	width: 18%;
	height:90%;
	top: 10%;
	left: 16%;
	z-index: 1;
}
.slider-body #sliderbg .single-item #shape1 {
	border: 2px dashed white;
	width: 43.5%;
	position: absolute;
	bottom: 43.5%;
	z-index: 0;
	left: 8%; /* IE 9 */
 -webkit-transform: skew(-32deg,-32deg); /* Safari */
 transform: skew(-32deg,32deg); /* Standard syntax */
}
.slider-body #sliderbg .single-item #shape2 {
	border: 2px dashed white;
	width: 20%;
	position: absolute;
	z-index: 0; /* IE 9 */
 -webkit-transform: skew(0deg,-10deg); /* Safari */
 transform: skew(-10deg,-10deg); /* Standard syntax */
	bottom: 24%;
	right: 27%;
}
.slider-body #sliderbg .single-item .item1>p {
	display: inline-block;
	margin:0 !important;
	line-height:0.75em !important;
	text-align: center;
	padding: 34px;
	background: url(images/onlyinbg.png) no-repeat center;
	background-size:contain;
	position:absolute;
	left:-1%;
	top:10%;
	-webkit-transform: translate(-1%,-10%);
	        transform: translate(-1%,-10%);
}
.slider-body #sliderbg .single-item .item2>p{
	display: inline-block;
	margin:0 !important;
	line-height:0.75em !important;
	font-family:lato-light;
	font-size:3rem;
	color:#333366;
	text-align: center;
	padding: 58.5px;
	background: url(images/discountbg.png) no-repeat center;
	background-size:contain;
	position:absolute;
	left:38%;
	bottom:5%;
}
.slider-body #sliderbg .single-item .item3{
	position:absolute;
	top:5%;
	right:0%;
	width: 50%;
}
.slider-body #sliderbg .single-item .item3 p:first-child{
	font-family:lato-light;
	font-size:24px;
	color:white;
	margin: 0 !important;
}
.slider-body #sliderbg .single-item .item3 h1{
	color:white;
	font-family:lato-black;
	text-align: justify;
	font-size: 60px;
}
.slider-body #sliderbg .single-item .item3 hr{
	background:white;
	padding:0.05em;
}
.slider-body #sliderbg .single-item .item3 p:last-child{
	font-family:lato-regular;
	color:white;
	font-size: 18px;
}
.slider-body #sliderbg .single-item .item4>p {
	display: inline-block;
	margin:0 !important;
	line-height:0.75em !important;
	text-align: center;
	padding: 34.2px;
	background: url(images/onlyinbg.png) no-repeat center;
	background-size:contain;
	position:absolute;
	bottom:20%;
	right:18%;
}
.slider-body #sliderbg1{
	background-image: url("images/sliderbg1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
	background-size:cover;	
}
.slider-body #sliderbg2{
	background-image: url("images/sliderbg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
	background-size:cover;	
}
.slider-body #sliderbg3{
	background-image: url("images/sliderbg3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
	background-size:cover;	
}

.slider-body #sliderbg1{
	background-image: url("images/sliderbg1.jpg");
}
.slider-body #sliderbg2{
	background-image: url("images/sliderbg2.jpg");
}
.slider-body #sliderbg3{
	background-image: url("images/sliderbg3.png");
}
.slider-body .single-item>div>p{
	font-family:serif;
	-webkit-animation: fadeOut 4s cubic-bezier(.6,-0.28,.74,.05) 0s infinite alternate;
	        animation: fadeOut 4s cubic-bezier(.6,-0.28,.74,.05) 0s infinite alternate;
}
.slider-body .single-item>div>h1{
	font-size:3em;
	-webkit-animation: flipInX 3s linear 0s infinite alternate;
	        animation: flipInX 3s linear 0s infinite alternate;
}
.slider-body .single-item>div>h4{
	-webkit-animation: lightSpeedIn 2s ease-out infinite;
	        animation: lightSpeedIn 2s ease-out infinite;
}
.slider-body .sliderInImage{
	-webkit-animation: rollOut 6s linear infinite ;
	        animation: rollOut 6s linear infinite ;
}


.containerbody {
	background-color: white;
}
#container_one{
	padding-top:3em !important;
	position: relative;
}
#container_one .containerheader,
#container_three .containerheader{
	text-align:center;
	margin-bottom:3rem;
}
#container_one .containerheader h4,#container_three .containerheader h4,#container_four .containerheader h4 {
	border: 2px solid black;
	font-weight: bold;
	padding: 0.1em 1em;
	text-transform: uppercase;
	text-align: center;
	width: 295px;
	margin: 0 auto;
}
#container_one .containerheader h4+hr,#container_three .containerheader h4+hr,#container_four .containerheader h4+hr{
	border: 1px solid #1abc9c;
	width: 295px;
	margin: 1px auto;
}
.owl-two{
	height:565px;
	margin-bottom: 100px;
}
.owl-two .single-card:hover .card-body{
	background-color: #2C3E50;
	cursor: pointer;
	color:#fff;
}
.single-card{
	width:100%;
	padding:0;
}
.single-card>.card-body>h2{
	font-family:lato-black;
	font-weight:bold;
	font-size:1.125em;
}
.single-card>.card-body>h5{
	font-family:lato-black;
	color:#a1b1bc;
	text-align:left;
}
.single-card>.card-body>hr{
	margin:1em -1.3em !important
}
.single-card>.card-body>a{
	color:#a1b1bc;
}
.single-card>.card-body>a img{
	display: inline-block;
	width: auto;
	padding: 0px 6px 4px 0px;
	
}
.single-card .activated{
	color:#33cc99;
}
.containerbody .container .owl-theme .owl-nav{
	position:absolute;
	top:50%;
	/* left:-8%;
	right:-8%; */
	font-size:1.3em;
	color:#9999cc;
	-webkit-transform: translate(0%,-50%);
	         transform: translate(0%,-50%); 
}
.containerbody .container .owl-theme .owl-nav button.owl-next{
	float:right;
}
.containerbody .container .owl-theme .owl-nav button.owl-prev{
	float:left;	
}
.containerbody .container .owl-theme .owl-nav button.owl-next, .containerbody .container .owl-theme .owl-nav button.owl-prev{
    background-color: #ecf0f1;
    border-radius: 2em;
    padding: 0.6em 1.2em !important;
}	
.line{
	height:3px;
	background:#ddd;
}

#container_two .single-item{
	height: 535px;
	overflow: hidden;
}

#container_two .single-item .item_image img {
	height: 370px;
	overflow: hidden;
    width: 100%;
}
#container_two .single-item .single_bottom {
    background: #2c3e50;
	height: 165px;
}
#container_two .single-item .single_bottom.triangle-up {
	position: relative;
}
#container_two .single-item .single_bottom .triangle-up {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 11px solid #2c3e50;
	position: absolute;
	left: 48%;
	top: -5px;
	-webkit-transform: translate(-5px, -50%);
	        transform: translate(-5px, -50%);
	opacity: 0;
}
#container_two .single-item .single_bottom:hover .triangle-up{
	opacity: 1;
}
#container_two .single-item .single_bottom:hover{
	cursor: pointer;
}
#container_two .single-item.middle_item .mid_image img {
	height: 100%;
	width: 100%;
}
#container_two .single-item.middle_item .single_bottom.middle_bottom {
	background: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
	        transform: translate(-50%,0%);
}
#container_two .middle_item .mid_image{
	width: 100%;
	height: 100%;
	outline: 2px solid #fff;
	outline-offset: -10px;
}

#container_two .middle_item span.rounded-circle {
	border: 5px solid #fff;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%,-40% );
	        transform: translate(-50%,-40% );
	width: 100px;
	height: 100px;
	opacity: .5;
}
#container_two .middle_item span.rounded-circle .angel{
	color: #fff;
	padding: 30px 38px;
	font-size: 30px;
	opacity: 0;
}
#container_two .middle_item:hover .rounded-circle, .angel,.mid_image{
	opacity: 1 !important;
	cursor: pointer;
}

#container_two .single-item .single_bottom .text{
	text-align: center;
}
#container_two .single-item .single_bottom .text hr{
	border:3px solid #fff;
	width:80px;
}
#container_two .single-item .single_bottom .text h2{
	font-family: lato-black;
	font-size: 40px;
	color:#fff;
	padding-top:20px;
	text-transform: uppercase;
}
#container_two .single-item .single_bottom .text p{
	font-family: lato-black;
	font-size: 18px;
	color:#1abc9c;
	text-transform: uppercase;
}
#container_three>div:nth-child(2){
	margin-bottom:30px; 
}
#container_three_footer .owl-three{

}
#container_three_footer{
	background-color:#34495e;
}

#item_one_bg{
	height: 700px;
}
#item_one_bg .container .content{
	width:47%;
}
#item_one_bg .container h4{
	font-family: lato-black;
	font-size: 29.86px;
	color:#1abc9c;
	text-transform: uppercase;
	padding-top: 175px;
}
#item_one_bg .container h1{
	font-family: lato-black;
	font-size: 72px;
	text-transform: uppercase;
	color:#fff;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
	display: inline-block;
	margin-bottom: 30px;
}
#item_one_bg .container p{
	font-family: lato-regular;
	font-size: 18px;
	text-transform: uppercase;
	color:#fff;
}
#item_one_bg .container button{
	font-family: lato-black;
	font-size: 18px;
}
#container_four{
	background-color: #ecf0f1;
}
#container_four .container{
	background-color: #ecf0f1;
}
#container_four .containerheader{
	padding-bottom: 70px;
	padding-top: 50px;
}
#container_four .each_item{
	height: 450px;
	padding-left: 0;
}
#container_four .each_item_bottom{
	padding:25px;
	background-color: #fff;
}
#container_four h5{
	font-family: lato-regular;
	font-size: 18px;
	color:#34495e;
}
#container_four p{
	font-family: lato-regular;
	font-size: 14px !important;
}
#container_four .each_item .each_item_bottom small{
	font-family: lato-regular;
	font-size: 14px !important;
	color:#1abc9c;
}
#container_four .bottom{
	background-color: #ecf0f1;
	padding-top: 60px;
}
#container_four button{
	background-color: #a1b1bc;
	font-family: lato-regular;
	font-size: 16px;
	color:#fff;
	margin:0 auto;
	padding:20px 50px;
	display:block;
}
#container_four button:hover{
	background-color: #1abc9c !important;
}
#container_five{
	
}
#container_five p{
	color:#a1b1bc;
}
#container_five ul {
	list-style: none;
	padding:0;
	color:#a1b1bc;
	line-height: 30px;
	font-family: lato-regular;
	font: size 14px;
}
  
#container_five ul li .fas {
background: #1abc9c;
color: #fff;
margin-right: 10px;
border-radius: 3px;
font-size: 10px;
padding: 3px;
}
#container_five h4{
	font-family: lato-black;
	font-size: 24px;
	color:#2c3e50;
	line-height: 50px;
}
#accordion .card-header.collapsed{
	background-color: #fff;
	color:#2c3e50;
}
#accordion .card-header{
	background-color: #2c3e50;
	color:#fff;
}
#accordion h5{
	font-family: lato-bold;
	font-size: 15px;
}
#accordion .card-header.collapsed:after{
	content: "\f107";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.2em;
	position: absolute;
	top: 8px;
	right: 10px;
	-webkit-transition: .3s all;
	transition: .3s all;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
}
#accordion .card-header:after{
	content: "\f107";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.2em;
	position: absolute;
	top: 8px;
	right: 10px;
	-webkit-transition: .3s all;
	transition: .3s all;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
#container_five #load_more{
	background-color: #1abc9c;
	font-family: lato-black;
	font-size: 15px;
	color:#fff;
	padding:15px 50px;
}
#container_five #load_more:hover{
	background-color: #a1b1bc !important;
}
#container_five #accordion .card-body p{
	font-size:14px;
	font-family: lato-regular;
}
#container_five .line{
	margin:100px auto;
}
#container_five .row.second_row ul li{
	border-bottom: 1px solid #a1b1bc;
}
#container_five .row.second_row h4 hr{
	border-bottom: 2px solid #a1b1bc;
}
#container_five .form-control:focus{
	-webkit-box-shadow: none;
	        box-shadow: none;
}
#container_five form{
	margin-top:50px;
	margin-bottom:50px;
}
#container_five form>div{
	height: 60px;
	padding-top: 12px !important;
}
#container_five .form-control::-webkit-input-placeholder {
	font-size: 0.95rem;
	color: #aaa;
	font-style: italic;
}
#container_five .form-control:-ms-input-placeholder {
	font-size: 0.95rem;
	color: #aaa;
	font-style: italic;
}
#container_five .form-control::-ms-input-placeholder {
	font-size: 0.95rem;
	color: #aaa;
	font-style: italic;
}
#container_five .form-control::placeholder {
	font-size: 0.95rem;
	color: #aaa;
	font-style: italic;
}
#container_five .input-group-append button i{
	color:#a1b1bc;
	font-size: 24px;
}
#container_bottom{
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	margin-bottom: 2px;
	overflow: hidden;
}
#container_bottom .carousel-inner{
	padding: 0px 15%;
	width:100% !important;
	height: 145px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.each-img.img-fluid {
	max-height: 100%;
	max-width: 100%;
	padding: 30px 0;
	-webkit-filter: saturate(0%);
	filter: saturate(0%)
}
.each-img.img-fluid:hover {
	-webkit-filter: saturate(100%);
	        filter: saturate(100%);
}
.carousel-control-prev,.carousel-control-next{
	height: 30px;
	width:30px;
	top: 50%;
	-webkit-transform: translate(-5%,-50%);
	        transform: translate(-5%,-50%)
}
.carousel-control-prev{
	left:-5%;
}
.carousel-control-next{
	right:-5%;
}
footer{
	
}
footer .footer_header{
	background-color: #1abc9c;
	height:100px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
footer .footer_header h2{
	font-family: lato-light;
	font-size:24px;
	line-height: 20px;
	color:#fff;
}
footer .footer_header h2:before,footer .footer_header h2:after{
	font-family: 'Font Awesome 5 Free';
	font-weight:900;
	font-size: 12px;
	margin:0 20px;
}
footer .footer_header h2:before{
	content: "\f10d";
}
footer .footer_header h2:after{
	content: "\f10e";
}
footer .footer_header #triangle-down{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #1abc9c;
	position: absolute;
	left: 50%;
	bottom: -30px;
	-webkit-transform: translate(-30px, -50%);
	transform: translate(-30px, -50%);
	opacity: 0;
}
footer .footer_header:hover #triangle-down {
	opacity: 1;
}
footer .footer_middle{
	background-color: #1a1c27;
	padding-top:70px;
}

/*** Remove 00webhost watermark ***/

img[]{display:none !important;}