@font-face {
    font-family: "lato-light";
    src: url("../fonts/Lato-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Lato-Light.ttf") format("truetype"), /* Legacy iOS */
      url("../fonts/Lato-Light.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Lato-Light.svg#lato-light") format("svg"), /* Legacy iOS */
      url("../fonts/Lato-Light.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "lato-black";
    src: url("../fonts/Lato-Black.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Lato-Black.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Lato-Black.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Lato-Black.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Lato-Black.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "lato-regular";
    src: url("../fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Lato-Regular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Lato-Regular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Lato-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Lato-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "lato-bold";
    src: url("../fonts/Lato-bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Lato-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Lato-bold.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Lato-bold.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Lato-bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Lato-bold.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  